header {
    background-color: rgb(31, 41, 55, 255);
    font-size: 40px;
    color: #F9FAF8;
}

.largertext{
    font-size: 24px;
}

.options{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    background-color: rgb(31, 41, 55, 255);
}

.herotitle{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signupbutton{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 4px;
    border-color: #3882F6;
    box-shadow: none;
    border: 0;
}