* {
    margin: 0;
    outline: 1px solid red;
    padding: 0;
}

header {
    background-color: rgb(31, 41, 55, 255);
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    padding: 6px;
    justify-content: space-around;
}

.banner {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 41, 55, 255);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.largetext{
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    font-weight: bolder;
}

.options{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

.options ul{
    display: flex;
}

.options ul li{
    list-style: none;
    padding-left: 20px;
}

hero {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 41, 55, 255);
    height: 220px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

.heroblock{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.herotext{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-around;
    color: #F9FAF8;
}

.herotitle{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signupbutton{
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 4px;
    border-color: #3882F6;
    box-shadow: none;
    border: 0;
    height: 30px;
    width: 100px;
}

.heroimage{
    display: flex;
    width: 48%;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: grey;

}

.main-content {
    height: 400px;
    background-color: #F9FAF8;

}



.quote {
    height: 200px;
    background-color: rgb(229, 231, 235, 255);
}


.calltoaction{
    background-color: #F9FAF8;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.calltoaction-container{
    color: #F9FAF8;
    background-color: rgb(59, 130, 246, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    border-radius: 10px;
}

.calltoaction-block{

}




footer {
    height: 100px;
    background-color: rgb(31, 41, 55, 255);
    color: #F9FAF8;
    display: flex;
    align-content: center;
}